@charset "utf-8";
/* CSS Document */
fieldset, img { border: 0; }

a, body { color: #4c4c4c; }

.cl, .fix:after { clear: both; }

.block, .fix:after { display: block; }

*, .bbox, .border:after, .layout, div, p { -webkit-box-sizing: border-box; }

*, a:focus, input:focus { outline: 0; }

*{ margin: 0; padding: 0; }

input, select, textarea { font-size: 100%; }

table { border-collapse: collapse; border-spacing: 0; }

h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: 500; }

li, ol, ul { list-style: none; }

em, i { font-style: normal; }

del { text-decoration: line-through; }

address, caption, cite, code, dfn, em, th, var { font-style: normal;  }

a { text-decoration: none; }

a:active { opacity: 0.7; }

* { -webkit-tap-highlight-color: transparent; }

html { -webkit-text-size-adjust: none; overflow-y: scroll; }

body { line-height: 1.5; font-family: 'Microsoft YaHei,SimHei,BrixSansMedium,Helvetica,sans-serif'; -webkit-text-size-adjust: none; -webkit-font-smoothing: antialiased; text-rendering: optimizeLegibility; -moz-osx-font-smoothing: grayscale; background:#fff;}

.grey{background:#f8f8f8;}

.fix:after { content: ''; visibility: hidden; }

.fl { float: left; }

.fr { float: right; }

.hide { display: none; }

.mt20 { margin-top: 1rem !important; }

.mt10 { margin-top: 0.5rem !important; }

.mb20 { margin-bottom: 1rem !important; }

* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin:0; padding:0;}

.bold { font-weight: 700; }

.of { height:auto; overflow: hidden; }

.opa0 { opacity: 0; }

.opa1 { opacity: 1 !important; -webkit-transition: opacity .3s ease-in; }

.clr{clear: both;background:none;border:none;}

.right{float: right;}

.left{float: left;}

.relative{position: relative;}

img {display:block; width: 100%; height: auto;}

html { font-size: 20px; }


@media screen and (min-width: 320px) { html { font-size: 8.532px; } }
@media screen and (min-width: 360px) { html { font-size: 9.6px; } }
@media screen and (min-width: 375px) { html { font-size: 10px; } }
@media screen and (min-width: 384px) { html { font-size: 10.24px; } }
@media screen and (min-width: 400px) { html { font-size: 10.668px; } }
@media screen and (min-width: 414px) { html { font-size: 11.04px; } }
@media screen and (min-width: 424px) { html { font-size: 11.308px; } }
@media screen and (min-width: 480px) { html { font-size: 12.8px; } }
@media screen and (min-width: 540px) { html { font-size: 14.4px; } }
@media screen and (min-width: 720px) { html { font-size: 19.2px; } }
@media screen and (min-width: 750px) { html { font-size: 20px; } }
/************************************************************************************
  商品详情页面
*************************************************************************************/

.pro-img{width: 100%;border-bottom:1px solid #e3e3e3;}
.pro-img img{width: 100%;height:320px;padding-bottom: 1rem; }
.pro-tit{padding: 1.5rem ;border-bottom:1px solid #e3e3e3;}
.pro-tit p{font-size: 2rem;color: #4c4c4c;line-height: 1.2;}
.pro-tit .red-txt{color: #f13f2f;font-size: 2.2rem;font-weight: bold;}
.pro-tit .grey-tit{color: #b7b7b7;font-weight: bold;text-decoration: line-through;}
.pro-tit .pro-tit-2{color: #f13f2f;font-size: 1.4rem;line-height: 2;}
.pro-tit-list li{float: left;width: 33%;color: #b7b7b7;font-size: 1.4rem;}
.pro-tit-list:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
.grey-bg{width: 100%;height: 2rem;background: #f8f8f8;}

.product-pro{border-bottom: 1px solid #e3e3e3;border-top:1px solid #e3e3e3;}
.goods-write{position: relative;padding:1.5rem 1rem 1.5rem 0;margin-left: 1rem;border-bottom:1px solid #e3e3e3;}
.quantity{position: absolute;right: 2rem;top:1rem;}
.quantity a{float:left;display: inline-block;padding:0 1.2rem;background-color: #f5f5f5;color: #999;font-size: 2.3rem;font-weight: bold;}
.quantity input{width: 4rem;text-align: center;font-size: 1.8rem;color: #4c4c4c;height: 36px;}
.item-form{float:left;width:30%;font-size: 1.5rem;color: #9b9b9b;}
.item-text{float: left;font-size: 1.5rem;width: 70%;}
.quantity .reduce{padding:0 1.5rem;}
.item-arror{position: absolute;right: 1rem;width: 3%;top:1.5rem;}
.no-btm-border{border-bottom: none;}
.item-cor-org {color: #fc6e08;}
.more-detail{background: #f8f8f8;padding-bottom: 5rem;}
.item-text select{-webkit-appearance: none;-moz-appearance:none;appearance:none;border:none;background-color: #fff;}
.more-detail-hit{width: 80%;margin:0 10%;height: 5rem;line-height: 5rem;font-size: 1.5rem;}
.more-detail-hit p{float: left;padding:0 1rem;}
.more-detail-hit:before,.more-detail-hit:after{content:" ";display:block;float:left;height: 3rem;width: 5rem;border-bottom: 1px solid #e3e3e3;}
.order img{position: fixed;bottom:11rem;right: 2rem;width: 18%;}

/**购物车**/
.btm-box{position: fixed;bottom: 0;width: 100%;height: 5rem;border-top: 1px solid #e3e3e3;background: #fff;overflow: hidden;}
.btm-box-list li{float: left;text-align: center;font-size: 1.5rem;}
.rightBorder{border-right: 1px solid #e3e3e3;}
.btm-box-list .twoSm-1{width: 20%;}
.btm-box-list .twoSm-2{width: 29.5%;line-height: 5rem;color: #fff;font-size: 1.8rem}
.btm-box-list .btm-bg1{background: #ffa302;}
.btm-box-list .btm-bg2{background: #f13f2f;}
.btm-box-list .twoSm-1 .sm-icon{width:30%;height:2rem;margin-left:35%;margin-top:0.4rem;background-size: 100% 100%; }
.btm-box-mb{margin-bottom: 0.5rem}
.unfavior{background: url('../images/star1.png');}
.favior{background: url('../images/star2.png');}
.shopCar{background: url('../images/shopCar.png');}
.shopnum{position: absolute;top:0.3rem;left: 50%;width: 1.2rem;height: 1.2rem;border-radius: 0.6rem;background-color: #f13f2f;color:#fff;font-size: 0.8rem;line-height: 1.3;overflow: hidden;text-align: center;}


/*****已下架******/
.btm-box-list .xiajia{opacity: 0.3;} 
.off-shelf-shadow{position: fixed;bottom:5rem;height: 4rem;width: 100%;background-color: #000;opacity: 0.4;}
.off-shelf-hit{position: fixed;bottom: 5.5rem;width: 100%;text-align: center;color: #fff;font-size: 2rem;font-weight: bold;}



/***详情页*****/
.pic-box{background-color: #fff;clear: both;}
.pic-box img{width:100%;display: block;margin: 0;padding: 0;}
.pic-box p{font-size: 1.5rem;line-height: 2;}
.order-type .detail-type-box li{width: 33.3%;}
.BtoT img{bottom:6rem;width: 13%;}

.parameter{margin-top: 2rem;background-color: #fff;font-size: 1.5rem;}
.parameter-list{border-top: 1px solid #e3e3e3; }
.parameter-list li{padding: 1rem;border-bottom: 1px solid #e3e3e3;}
.parameter-tit{width: 30%;color:#b0b0b0;}
.parameter-cnt{width: 70%;color: #696969;}

/*****评价****/
.rate-precent{margin-top: 2rem;background: #fff;border-top: 1px solid #e3e3e3;}
.rate-precent .rate-precent-1{height: 6rem;border-bottom: 1px solid #e3e3e3;line-height: 6rem;}
.rate-precent .rate-precent-1 .rate-txt1{font-size:2rem;margin-left: 3%; width: 42%;}
.rate-precent .rate-precent-1 .rate-txt2{margin-left: 5%;color: #f13f2f;font-size: 2.5rem;}
.star-rate{height: 6rem;}
.star-rate li{float: left;font-size: 2rem;margin-right: 0.5rem;color:#e9e9e9;}
.star-rate li.star-selected{color: #f13f2f;}
.star-rate-box{width: 50%;}
.real-rate-point{color: #9b9b9b;font-size: 1.5rem;}

.evaluate ul li{float: left;width: 16%;padding: 1rem 0;text-align: center;color: #9b9b9b;font-size: 1.5rem;}
.evaluate{clear: both;border-bottom: 1px solid #e3e3e3;background-color: #fff;}
.evaluate ul{width: 100%;height: auto;overflow: hidden;}
.evaluate ul li.total-evaluate{color:#f13f2f; width: 20%;}

.evaluate-list-box{padding-bottom: 6rem;}
.evaluate-list {margin-top: 2rem;border-top: 1px solid #e3e3e3;border-bottom: 1px solid #e3e3e3;background-color: #fff;}
.evaluate-head{margin-left: 1rem;border-bottom: 1px solid #e3e3e3;height: 6rem;padding: 1rem 0;line-height: 4rem;font-size: 1.5rem;color:#696969;}
.head-left img{width: 4rem;float: left;margin-right: 1rem;}
.evaluate-time{margin-right: 1rem;float: right;}
.evaluate-cnt{margin-left: 1rem;}
.starbox{line-height: 4rem;}
.evaluate-text{color: #696969;padding-right: 1rem;font-size: 1.5rem;}
.newH-evaluate{height: auto;}
.evaluate-des{font-size:1.4rem;color:#9b9b9b;padding: 1rem 0 1.5rem 0;}
.evaluate-des .evaluate-des-name{margin-right: 2rem;}
/************************************************************************************
  支付页面
*************************************************************************************/
.pay-money {height:5rem;padding:0 2rem;margin:1rem 0;line-height:5rem;border-top:1px solid #e3e3e3;border-bottom:1px solid #e3e3e3;background-color: #fff;}
.pay-money p{color: #fc6e08;font-size: 1.8rem;} 
.pay-way{height:auto;margin:1rem 0;line-height:5rem;border-top:1px solid #e3e3e3;background-color: #fff;}
.pay-way .pay-way-tit{height:4rem;line-height:4rem;padding-left:2rem;font-size: 1.8rem;color: #4c4c4c;border-bottom: 1px dashed #e3e3e3;}
.pay-list{position:relative;height: auto;padding:1rem 0;padding-left: 2rem;border-bottom: 1px solid #e3e3e3; }
.pay-list img{float: left;width: 15%;}
.pay-list .pay-list-cnt{float: left;width: 75%;margin-left: 2%;font-size: 1.8rem;color: #4c4c4c;}
.pay-list .pay-list-cnt p{line-height: 1.5;font-size: 1.6rem;margin: 0.8rem 1rem;}
.pay-list .radio-input{position: absolute;right: 1rem;top:1.8rem;width:2rem;height:2rem;background:url('../images/uncheckRadio.png') no-repeat;background-size: 100% 100%;}
.pay-btn{width: 90%;margin-left: 5%;margin-top:1rem;height:5rem;line-height: 5rem;background-color:#f13f2f;font-size: 2rem;color:#fff;font-weight: bold;text-align: center; }
.pay-list .check{background:url('../images/checkRadio.png') no-repeat;background-size: 100% 100%;}
/************************************************************************************
  订单列表页面
*************************************************************************************/
.order-type{height: 5rem;width: 100%;background-color: #fff;border-bottom: 1px solid #d3d3d3;color:#696969;box-shadow: 0px 2px 2px #E9E9E9}
.order-type-box li{float: left;width: 20%;text-align: center;font-size: 1.8rem; line-height: 5rem;}
.order-type-box li.current{color: #d44234;border-bottom: 1px solid #d44234;}
.orderListWrap{margin-top: 2rem;}
.orderGroup{margin-bottom: 2rem;border-top: 1px solid #e0e0e0;border-bottom: 1px solid #e0e0e0;color: #555555;background: #fff;}
.group-p1 {padding: 1.5rem;font-size: 1.8rem;}
.group_p1,.p1-status{color: #ff6b2f;}
.group-p2{padding: 1rem;border-bottom: 1px dashed #d3d3d3;border-top: 1px dashed #d3d3d3;}
.group-p2:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
.group-p2 .p2-img{float: left;width: 35%;}
.group-p2 .p2-text{float: left;width: 65%;color: #555;}
.group-p2 .p2-text p{font-size: 1.5rem;}
.p2-prize-line{margin: 0.8rem 0;line-height: 1;}
.p2-prize{color: #ff8000;}
.p2-prize .pre-prize{color: #555;text-decoration: line-through;}
.p2-CM-text{font-size: 1.2rem;}
.p2-CM{display:inline-block;width:1.6rem; height:1.5rem;margin-right:0.5rem;background: url('../images/icon-CM.png') no-repeat;background-size: 100% 100%;}
.group-p3{margin: 1.5rem 0;text-align: center;font-size: 1.5rem;}
.p3-mr1{margin-right: 1rem;}

.group-p4{border-top: 1px solid #e0e0e0;}
.group-p4 .p4-btn{width: 8rem;height:4rem;margin:1rem 0;text-align: center;line-height: 4rem;font-size: 1.5rem;border:1px solid #d3d3d3; color:#aaaaaa;}
.group-p4 .p4-pay{margin-left:1rem;margin-right: 2rem;color: #fff;background: #d82616;border-color: #d82616;border-radius: 1px;}

/****没有订单*****/
.order-no{margin-top: 8rem;}
.order-no p{text-align: center;color: #b7b7b7;font-size: 2rem;margin-top: 1rem;}
.order-no .order-no-img{width: 20%;margin-left: 40%;}

/***取消订单的选择项***/
.dialog-shadow{background: rgba(0, 0, 0, 0.7);height: 100%;width: 100%;position: fixed;left: 0;top: 0; z-index: 9999;}
.hit-contain{position: fixed;width: 80%;top:10rem;z-index: 10000;margin-left: 10%;border:1px solid #e3e3e3;background-color: #fff;
	padding: 1rem;border-radius: 5px;font-size:1.7rem;}
.hit-contain p{margin-bottom: 1rem;}
.reason-radio input{margin-bottom: 1.5rem;}
.reason-btn-sty{width: 9rem;height: 4rem;line-height: 4rem;border:1px solid #e3e3e3;text-align: center;border-radius: 5px;}
.reason-com{margin-right: 2rem;margin-left: 4rem;border-color: #6ac3dc;}

/************************************************************************************
  订单填写页面
*************************************************************************************/
.newpading{padding: 0 3rem 0 1rem;margin-top: 1rem;}
.arror-img{position: absolute;top:50%;right: 5px;width: 3%;}
.addAddress{height: 12rem;margin-top: 1rem;}
.addAddress a{display:block;color: #d94234;text-align: center;line-height: 12rem;font-weight: bold;}
.remark-cnt{height: 5rem;border-bottom: 1px solid #e3e3e3;background-color: #fff;padding: 1rem 2rem;}
.remark-cnt input{border:none;width:100%;height:3rem;color: #4c4c4c;font-size: 1.8rem;}
.order-input-spacing{background-color: #fff;;margin-top: 2rem;}
.order-input-spacing2{background-color: #fff;margin-bottom: 6rem}

.thumbnail{position: relative;height:auto;padding:0 2rem;border-bottom: 1px solid #e3e3e3;border-top:1px solid #e3e3e3;}
.thumbnail-img,.thumbnail-text{float: left;margin:2rem 0;}
.thumbnail-img{border:1px solid #e3e3e3;width: 30%;margin-right: 5%;}
.thumbnail-text{width: 64%;}
.thumbnail-text .thumbnail-tit{font-size: 1.5rem;color: #4c4c4c;}
.thumbnail-text .thumbnail-count{position: absolute;bottom:1rem;right:2rem;font-size: 1.5rem;color: #696969;}
.order-address-info{padding:0 2rem;border-bottom: 1px solid #e3e3e3;border-top:1px solid #e3e3e3;font-size:1.6rem;background-color: #fff;color: #4c4c4c;}
.order-address-info .icon-order{width: 3rem;margin-top: 1.2rem;margin-right:1rem; }
.order-address-info .text-oder{margin-left: 4rem;margin-top: 1.5rem;margin-bottom: 1.5rem;}
.order-money{height:auto;padding:1rem 2rem;border-bottom: 1px solid #e3e3e3;font-size: 1.6rem;color: #4c4c4c;}
.order-money-line{height: 3rem;line-height: 3rem;}
.order-money-line:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
.order-money-line .left-line{float: left;}
.order-money-line .right-line{float: right;}
.order-money-line .order-red{font-size: 1.8rem;color:#ee4137;}
.order-btn-fun{position: fixed;bottom: 0;width: 100%;height: 6rem;border-top:1px solid #e3e3e3;background-color: #fff;}
.order-btn{float: right;margin-right: 1rem;font-size: 1.5rem;height: 4rem;margin-top: 1rem;}
.order-btn :after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
.order-btn .order-total,.order-btn .conform{float: left;}
.order-btn .order-total{margin-right: 2rem;line-height: 4rem;}
.order-btn .conform{padding: 0 1rem;background-color: #d82616;line-height: 4rem;color:#fff;border-radius: 3px;}
.order-total span{color: #ff8000;}

/************************************************************************************
  收货地址
*************************************************************************************/
.bg-grey{background-color: #f5f5f5;width: 100%;height: 3rem;}
.address-form{width: 95%;padding-left: 5%;background-color: #fff;}
.form-line{font-size: 1.8rem;height: 5.5rem;width: 100%;border-bottom: 1px solid #e7e7e7;}
.form-line:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
.form-line label, .form-line input{float: left;}
.form-line label{width: 30%;line-height: 5.5rem;color:#3d4245;}
.form-line select{font-size: 1.5rem;margin-top: 1.8rem;width: 70%;}
.form-line input{border:none;color:#3d4245;font-size: 1.8rem;height: 3rem;margin-top: 1.25rem;width: 70%;}
.select-box select{width: 20%;font-size: 1.8rem;margin-top: 1.8rem;}
.act-address-btn{position: fixed;bottom:0;z-index: 100;height: 5.5rem;line-height: 5.5rem;background-color: #f13f2f;text-align: center;color: #fff;width: 100%;font-size: 2rem;}
.act-address select{-webkit-appearance: none;-moz-appearance:none;appearance:none;border:none;background-color: #fff;}
.textarea-line label{width: 32%;padding-top: 2rem;color:#3d4245;font-size: 1.8rem;float: left;}
.address-detail{padding-top: 2rem;font-size: 1.8rem;border:none;}

/************************************************************************************
  订单详情页面
*************************************************************************************/
.detail-box{margin-top:2rem;border-top:1px solid #d3d3d3;border-bottom: 1px solid #d3d3d3;background: #fff;font-size: 1.4rem;}
.detail-box .detail-tit{font-size: 1.6rem;padding: 1rem ;border-bottom: 1px solid #d3d3d3;}
.detail-textArea{padding: 1rem 1rem 0.5rem;font-size: 1.4rem;line-height: 1.2;}
.detail-textArea p{margin-bottom: 0.5rem;}
.detail-box .detail-group{border-top: 1px solid #d3d3d3;border-bottom: 1px solid #d3d3d3;}
.detail-group .detail-img{width: 25%;margin-right: 5%;}
.detail-group .detail-img{font-size: 1.8rem;}
.detail-newMT{margin:2.5rem 0 0 0;}
.detail-total{margin-left:1rem;padding: 1rem 0;font-size: 1.6rem;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;-webkit-text-overflow:ellipsis;}
.detail-prize{padding: 1rem 2rem;background: #fff;font-size: 1.4rem;text-align: right;}
.detail-red{color:#f23f2f;}

/****物流跟踪***/
.log-track li{position: relative;}
.log-track .track-box{width: 85%;margin-left: 15%;border-bottom:  1px solid #d3d3d3;padding: 1rem 0;padding-right: 1rem;}
.process-img{position: absolute;top: 1.2rem;left: 2rem;width: 1.3rem;height: 1.3rem;background: url('../images/greyDot.png') no-repeat ;background-size: 100% 100%;}
.track-time{color:#b7b7b7;margin-top: 0.5rem;}
.log-track li:last-child > .track-box{border-bottom: none;}
.log-track li:first-child > .process-img{width: 2rem;height: 2rem;background: url('../images/greenDot.png') no-repeat ;background-size: 100% 100%;}
.log-track li:first-child{color:#0baf1a;}
.log-track li:first-child > .track-box > .track-time{color:#0baf1a;}
/************************************************************************************
  用户评价页面
*************************************************************************************/
.est-thumbnail{padding: 1rem;width:100%;border-bottom: 1px solid #e3e3e3;background-color: #fff;position: relative;}
.est-thumbnail-1{float: left;width: 30%;margin-right: 5%;}
.est-thumbnail-2{margin-right: 1rem;}
.est-thumbnail-2 .est-tit{font-size: 1.8rem;line-height: 1.2;}
.est-thumbnail-2 .est-info{margin-top:4rem;font-size: 1.4rem;color:#696969;}
.est-icon-go{position: absolute;width: 0.85rem;height: 1.5rem;right: 1rem;top:5.5rem;}
.est-score{margin-top: 2rem;padding:1rem 0;border-bottom: 1px solid #e3e3e3;border-top: 1px solid #e3e3e3;background-color: #fff;}
.est-score .score-txt{margin-left:1rem;color:#696969;font-size: 1.5rem;line-height: 4rem;}
.est-form{position:relative;margin-top: 2rem;background-color: #fff;border-bottom: 1px solid #e3e3e3;border-top: 1px solid #e3e3e3;}
.est-form textarea{width:100%;height:12rem;border:none;font-size: 1.8rem;padding: 1rem;}
.est-form .num-hit{position:absolute;right:1rem;bottom:1rem;color:#a9a9a9;font-size: 1.8rem;}
.est-btn{width: 90%;height:5rem;margin: 2rem  5% 0 5%;color:#fff;line-height: 5rem;text-align: center;background-color: #f13f2f;font-size: 2rem;border-radius: 5px;}

/************************************************************************************
 获得慧驾加油卡页面
*************************************************************************************/
.fuel-box{margin-top:1.5rem;padding:0 1.5rem;margin-bottom:1.5rem;font-size: 1.4rem;color: #666666;}
.fuel-box .fuel-tit{height: 1.6rem; border-left: 0.7rem solid #f84e28;}
.fuel-box .fuel-tit p{margin-left: 0.5rem;font-size: 1.6rem;line-height: 1;color:#333;font-weight: bold;}
.fuel-des{margin-top: 1.6rem;}
.fuel-des li{list-style-type:disc;list-style-position:inside;}
.paragraph{margin-top: 1.5rem;}
.paragraph .paragraph-2{text-indent: 2rem;}
.fuel-form{border-top:1px solid #e3e3e3;border-bottom:1px solid #e3e3e3;}
.fuel-form-wrap{margin-left: 1.5rem;}
.fuel-form input{width:100%;line-height: 5rem;font-size: 1.5rem;border:none; border-bottom:1px solid #e3e3e3;}
.fuel-right-icon{position: absolute;width: 1.8rem;top:1.6rem;right: 1rem;}
.fuel-form select{line-height: 5rem;border-bottom:1px solid #e3e3e3;width: 100%;font-size: 1.5rem;border-bottom:1px solid #e3e3e3;}
.fuel-address{padding-bottom: 3rem;}
.fuel-new-icon{width: 1.2rem;top:1.5rem;}
.fuel-detail{border:none;width: 100%;font-size: 1.5rem;margin-top: 1rem;}
.fuel-hit{font-size: 1.6rem;line-height: 5rem;margin-left: 1.5rem;}
.fuel-btn{width: 94%;margin-left: 3%;height: 5rem;line-height: 5rem;text-align: center;color: #fff;font-size: 1.5rem;background: #f13f2f;border-radius: 5px;}