.ax_default {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.box_1 {
}
.box_2 {
}
.box_3 {
}
.ellipse {
}
.placeholder {
}
._标题1 {
  font-family:'.PingFang-SC-Regular', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-size:24px;
  text-align:left;
}
._标题2 {
  font-family:'.PingFang-SC-Light', 'PingFang SC';
  font-size:24px;
  color:#A1A1A1;
  text-align:left;
}
._标签栏字体 {
  font-family:'.PingFang-SC-Regular', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:18px;
}
._常规文本 {
  font-family:'.PingFang-SC-Regular', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
._常规文本-灰色 {
  font-family:'.PingFang-SC-Light', 'PingFang SC';
  font-size:18px;
  color:#BCBCBC;
}
._常规文本-灰色-小 {
  font-family:'.PingFang-SC-Light', 'PingFang SC';
  font-size:16px;
  color:#BCBCBC;
}
.label {
  font-size:14px;
  text-align:left;
}
._文本 {
  text-align:left;
}
.line {
}
.checkbox {
  text-align:left;
}
._白色字体 {
  font-family:'.PingFang-SC-Regular', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
.radio_button {
  text-align:left;
}
.icon {
}
